<!DOCTYPE html>
<html>

<head>
    <title>AI Resume Analyzer</title>
</head>

<body>

    <h1>AI Resume Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="resume" required>

        <button type="submit">Upload Resume</button>

    </form>

    <hr>

    <h2>Resume Score: {{ score }}/100</h2>

    <h2>Suggestions:</h2>

    <ul>
        {% for item in suggestions %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h2>Resume Text:</h2>

    <p>{{ text }}</p>

</body>

</html>